body {
    background-color: rgb(196, 204, 207);
    font-family: Arial, sans-serif;
}

h1 {
    color: blueviolet;
}

p {
    color: darkred;
}

button {
    background-color: forestgreen;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: darkgreen;
}
