body {
    background-color: rgb(231, 220, 220); 
    font-family: Arial, sans-serif;
}

h1 {
    color: rgb(136, 15, 143); 
}

p {
    color: rgb(88%, 19%, 60%); 
}

button {
    background-color: rgb(25, 108, 25); 
    color: rgb(255, 255, 255); 
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(2, 158, 2); 
}
