body{
    background-color: rgb(255, 255, 255);
}
li a{

    text-decoration: none;
    font-size: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: darkslategrey;
    padding: 10px;
    margin: auto;
}
.listaInicio{
    text-decoration: none;
}
h4 ~ h5 {
    color: aqua;
}
section{
    max-width: 900px;
    width: 100%;
    background-color: rgb(247, 220, 220);
}
.divInicio{
    background-color: tomato;
}
.listaInicio{
  display: flex;  
  margin: 45px;
  padding: 20px;
  list-style: none;
  align-content: center;
}
h2{
    background-color: white;
}
h3 + p{
    text-align: right;
}
.terceraLista > li{
    color: red;
}
#pa1, #pa2{
    background-color: yellow
}
.segundaLista > li{
    text-decoration: line-through;
}
a[href$=".pdf"]{
    color: green;
    font-size: 35px;
}
#elemento3Lista{
    color: rgb(121, 197, 224);

}
#pa6{
    background-color: rgb(250, 138, 64);

}
#elemento4Lista{
    color: #7F007F;
}
#elemento5Lista{
    color: burlywood;
}
#elemento6Lista{
    color: hsl(0,0%,50%);

}
#elemento7Lista{
    color: rgb(10, 2, 64, 45);
    background-color: rgb(250, 2, 64, 0.2);
}