.app {
  text-align: center;
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: #333;
  padding: 10px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.navbar li {
  margin: 0 15px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.navbar a:hover {
  text-decoration: underline;
}

.content {
  margin-top: 20px;
}

.dashboard nav ul {
  list-style-type: none;
  padding: 0;
}

.dashboard nav ul li {
  margin: 10px 0;
}

.dashboard nav ul li a {
  color: #457b9d;
  text-decoration: none;
}
