body {
    font-family: Arial, sans-serif;
    font-size: 100%;
    padding: 5%;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 2%;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

h1 {
    font-size: 2em;
    margin-bottom: 1em;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 0.75em;
}

p {
    font-size: 1em;
    line-height: 1.5em;
    margin-bottom: 1em;
}

button {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    background-color: #2bb930;
    color: white;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}

button:hover {
    background-color: #2bb930;
}
