body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
}
nav ul.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #457b9d;
}
nav ul.menu li {
    margin: 20px 20px;
}
nav ul.menu li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
nav ul.menu li a:hover {
    color: #f4a261;
}
main {
    padding: 20px;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    justify-content: center;
}
.movie {
    color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    padding: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /*Transiciones*/
}
.movie:hover {
    transform: scale(1.05); /*Aumenta el tamaño del elemento*/
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.movie img {
    width: 100%;
    height: auto;
    border-radius: 0;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Media Queries*/
@media (max-width: 768px) {
    nav ul.menu {
        flex-direction: column;
    }
    nav ul.menu li {
        margin: 5px 0;
    }
}

@media (max-width: 480px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
    .movie {
        padding: 10px;
    }
}

